*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  line-height: 1;
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
  width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30;
  clear: both;
}

.logo{
  
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  font-size: 48px;
  line-height: 44px;
  font-weight: 100;
  letter-spacing: .5px;
  text-transform: uppercase;
  float: left;
}

.shoriful{
  margin: 66px 0 22px 0;
  text-align: right;
  font-weight: 100;
  font-size: 22px;
}

.menu{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-align: right;
  text-transform: uppercase;

}

.menu li{
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  list-style: none;
}

.menu li:last-child{
  margin-right: 0;
}

.header a{
  color: #fff;
}

.header:before{
  content: "";
  display: table;
}

.header:after{
  content: "";
  display: table;
  clear: both;
}

a:hover {
  color: #a9b2b9;
}